@font-face{font-family:'BarlowCondensed';font-style:normal;font-weight:600;font-display:swap;src:url(BarlowCondensed-600.woff2) format('woff2')}
@font-face{font-family:'BarlowCondensed';font-style:normal;font-weight:700;font-display:swap;src:url(BarlowCondensed-700.woff2) format('woff2')}
@font-face{font-family:'BarlowCondensed';font-style:normal;font-weight:800;font-display:swap;src:url(BarlowCondensed-800.woff2) format('woff2')}
@font-face{font-family:'Barlow';font-style:normal;font-weight:400;font-display:swap;src:url(Barlow-400.woff2) format('woff2')}
@font-face{font-family:'Barlow';font-style:normal;font-weight:500;font-display:swap;src:url(Barlow-500.woff2) format('woff2')}
@font-face{font-family:'Barlow';font-style:normal;font-weight:600;font-display:swap;src:url(Barlow-600.woff2) format('woff2')}
